.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.5rem;
}

.header-title {
  padding: 1rem;
}

.nav-container {
  display: flex;
}

.nav-dashboard,
.nav-reports,
.nav-logout {
  padding: 1rem;
}
