.signup-container {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-flow: column;
  width: 25rem;
  padding: 2rem;
  margin: 2rem;
  gap: 1rem;
}

.signup-subtitle {
  font-size: 2rem;
}

.signup-email,
.signup-password,
.signup-button {
  height: 2rem;
}
